<ion-header translucent>
    <ion-toolbar color="dark">
        <ion-title>
            Agregar Contacto
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div id="">
        <ion-item>
            <ion-label position="floating">Nombre Completo:</ion-label>
            <ion-input #nombre [(ngModel)]="myService.htmlNombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Telefono:</ion-label>
            <ion-input #telefono [(ngModel)]="myService.htmlTelefono"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Correo:</ion-label>
            <ion-input #correo [(ngModel)]="myService.htmlCorreo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Notas:</ion-label>
            <ion-input #notas [(ngModel)]="myService.htmlNotas"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Fecha de Nacimiento:</ion-label>
            <ion-datetime displayFormat="DD/MMM/YYYY" placeholder="DD/MMM/YYYY" #fecha [(ngModel)]="myService.htmlFecha"></ion-datetime>
        </ion-item>

        <ion-radio-group (ionChange)="myService.cambioSexo($event)">
            <ion-list-header style="font-size: 15px;">Selecciona el genero: </ion-list-header>
            <ion-item lines="none">
                <ion-label>Masculino</ion-label>
                <ion-radio slot="start" color="primary" value="hombre"></ion-radio>
            </ion-item>
            <ion-item lines="none">
                <ion-label>Femenino</ion-label>
                <ion-radio slot="start" color="primary" value="mujer"></ion-radio>
            </ion-item>
        </ion-radio-group>

        <ion-button (click)="myService.addPerson(nombre.value,telefono.value,correo.value,notas.value)" expand="block">
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
    </div>
    <!-- Ver los contactos -->
    <app-my-component></app-my-component>
</ion-content>